Unit]
Description=Wake on Lan API server
After=network.target

[Service]
User=wol-server
ExecStart=/path/to/binary dir /path/to/config/directory/ server
KillMode=process
Restart=on-failure

[Install]
WantedBy=network.target
